<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>EvaluacionLineaWeb</display-name>
     	<display-name>PrimeFaces Web Application</display-name>
 <context-param>
 <param-name>contextConfigLocation</param-name>
<param-value>
/WEB-INF/evaluacionWebMainApplicationContext.xml
</param-value>
 </context-param>

	<listener>
<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
</listener>
<listener>
 <listener-class>
 org.springframework.web.context.request.RequestContextListener
</listener-class>

	    </listener>
	<listener>
		<listener-class>com.sun.faces.config.ConfigureListener</listener-class>
	</listener>
<filter>
    <filter-name>primeFacesFileUploadFilter</filter-name>
    <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
</filter>
<filter-mapping>
    <filter-name>primeFacesFileUploadFilter</filter-name>
    <servlet-name>facesServlet</servlet-name>
</filter-mapping>

	<!-- Welcome page -->
	<welcome-file-list>
		<welcome-file>faces/Login.xhtml</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>/faces/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.faces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>
	       <context-param>   
 <param-name>primefaces.UPLOADER</param-name>   
 <param-value>auto</param-value>
</context-param>
<!-- 	<context-param> -->
<!--         <param-name>primefaces.THEME</param-name> -->
<!--         <param-value>redmond</param-value> -->
<!-- </context-param> -->

	<context-param>
	    <param-name>primefaces.THEME</param-name>
	    <param-value>sunny</param-value>
	</context-param>	
	<session-config>
      <!-- Session idle timeout in min. -->
      <session-timeout>15</session-timeout>
    </session-config>
  	<error-page>
		<exception-type>javax.faces.application.ViewExpiredException</exception-type>
		<location>/Login.xhtml</location>
	</error-page>
</web-app>